
button{
    border: none;
    background: none;
    height: 60px;
    outline: none;


}
button:hover{
    background: #f54141;
    


}

  
  




  
  
  




.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
   
}
 

#editor{
    max-width: 800px;
    height:200px;
    border:1px solid black;
    margin: 20px auto;
    padding: 20px;
}